<form id="file_player">
  <input type="text" name="file1" placeholder="file1" value="james_bond.wav" />
  <br>
  start offset: <input name="file1offset" type="number">
  <br>
  <input type="text" name="file2" placeholder="file"  value="tony_montana.wav"/>
  <br>
  start offset: <input name="file2offset" type="number">
  <input type="submit">
</form>
<ul id='media_player'>

</ul>
<a href="#" id='play'>play</a>

