<!DOCTYPE html>
<html lang="en">
<head>


  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src='js/pubSub.js'></script>
  <script src='js/underscore-min.js'></script>
  <script src='js/bufferLoader.js'></script>
  <script src='js/track.js'></script>
  <script src='js/trackList.js'></script>



  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
