<!DOCTYPE html>
<html lang="en">
<head>


  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src='js/track.js'></script>
  <script src='js/track_list.js'></script>
  <script src='js/track_list.js'></script>
  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
